{%extends 'base.html'%}

 {% block content %}

 <div class="container">

   <div class="row">
     <img src="{{image.photo.url}}"  class="img-responsive" alt="">
   </div>

   <div class="row">
     <h1 class="text-center">{{image.title}}</h1>
   </div>

   <div class="row">
     <h4>Details</h4>
     <p>{{image.description}}</p>
   </div>

   <div class="row">
     <div class="col-md-6">
       <p><i class="glyphicon glyphicon-tag "></i>Category:{{image.category}}</p>
     </div>
     <div class="col-md-6">
       <p><i class="glyphicon glyphicon-map-marker"></i>Location:{{image.location}}</p>
     </div>
     
   </div>
   <div class="row">
    <button onclick="CopyLink()">Copy link to share</button>
  </div>
 </div>
 <script>
  function CopyLink() {
    navigator.clipboard.writeText(window.location.href);
    alert("copied");
  }
 </script>
 {% endblock %}