{%extends 'base.html'%} 
{% block content %}
<div class="container">

  <div class="row">
    {% if imgs%}
      <h2>Found {{ imgs|length }} results{{title}}</h2>
    {% else %}
      <h2> Found 0 imgs for the search term {{title}}</h2>
    {% endif %}
    {% if message%}
      <h2>{{message}}</h2>
    {%endif%}

  </div>

  <div class="row">

  {% if imgs %}
    {% for img in imgs %}
    <div class="row">
      <div class="card">
        <h2><a href="/photograph/{{img.id}}">{{img.title}}</a></h2>
        <div class="col-md-6 imagecol">
          <a href="/photograph/{{img.id}}"><img src="{{img.photo.url}}"  class="img-responsive" alt=""></a> 
        </div>
        <div class="col-md-6">
          <h4><i class="glyphicon glyphicon-tag "></i>Category:{{img.category}}</h4>
          <h4><i class="glyphicon glyphicon-map-marker"></i>Location: {{img.location}}</h4>
        </div>
      </div>      
    </div>
    {% endfor %}
  {% endif %}
  </div>
</div>
{% endblock %}